.DS_Store
.atom/
.idea
.packages
.pub/
build/
ios/.generated/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Flutter.podspec
packages
pubspec.lock
.flutter-plugins
.dart_tool/
android/.project

# Intentionally ignored, because we don't want to see anyone's secret API keys in the repo
lib/dsn.dart
